<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Carga Exitosa</title>
</head>
<body>
  <h1>Su Archivo ha sido cargado EXITOSAMENTE !!!</h1>  
  <p>Nombre del Archivo  <a href="/uploads/<%=fileName%>" target="_blank"><%=fileName%></a> Fue almacenado correctamente!!!</p>
  <br/>
  <br/>
  <a href="/upload">Volver</a>
</body>
</html>
